#p-1 {
    color: black;
}

#p-2{
    color: rgb(255, 0, 144);
}

#p-3{
    color:papayawhip;
}

#p-4{
    color: blue;
}

#p-5{
    color: blueviolet;
}


#one i {
    color: blue;
}

#two i {
    color: pink;
}

#three i {
    color: red;
    
}

#second-i {
    color: red;

}

#third-i {
    color: green;

}
